<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/drawGrid.js" defer></script>
    <script src="/drawDraft.js" defer></script>
    <script src="/generateWIF.js" defer></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Harry, yer a <i>GLITCH-WIFTCH</i></h1>
    </header>

    <main>
      <div style="display:flex;">
        <div style="padding-right: 20px;">
          <label>
            Pixel Size
            <input type="number" id="pixel-size"/>
          </label>
          
          <label>
            # Warp Threads
            <input type="number" id="warp-threads" min="4" max="120"/>
          </label>
          
          <label>
            # Weft Threads
            <input type="number" id="weft-threads" min="4" max="120"/>
          </label>
          
          <label>
            # Shafts
            <input type="number" id="shafts" min="2" max="16"/>
          </label>
          
          <label>
            # Treadles
            <input type="number" id="treadles" min="2" max="20"/>
          </label>
        </div>
        <svg id="drawdown" width="884" height="860">
        </svg>
        

      </div>

      <div>
      <a id="download-wif" download="glitch-wiftch.wif" href=""><button>
        Download WIF
        </button></a>
      <pre>
      <code id="wif-preview">
      </code>
      </pre>  
      </div>
      
      
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
