<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/drawGrid.js" defer></script>
    <script src="/drawDraft.js" defer></script>
    <script src="/generateWIF.js" defer></script>
    <script src="/drawPalette.js" defer></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Harry, yer a <i>GLITCH-WIFTCH</i></h1>
    </header>

    <main>
      <p>
        Order of operations:
      </p>
      <ol>
        <li>Set warp & weft counts for one repeat with selectors below.</li>
        <li>Click on threading and treadling boxes to change the draft.</li>
        <li>
          Optional: Select a color from the swatches below, then click on the color boxes <br/>
          next to the threading and treadling boxes to change the colors used in the drawdown.
        </li>
        <li>
          Optional: Increase warp and weft counts to see multiple repeats of a
          pattern.
        </li>
        <li>Click the button to download a WIF file.</li>
      </ol>

      <div style="display:flex;">
        <div style="padding-right: 20px;">
          <label>
            Pixel Size
            <input type="number" id="pixel-size" />
          </label>

          <label>
            # Warp Threads
            <input type="number" id="warp-threads" min="4" max="120" />
          </label>

          <label>
            # Weft Threads
            <input type="number" id="weft-threads" min="4" max="120" />
          </label>

          <label>
            # Shafts
            <input type="number" id="shafts" min="2" max="16" />
          </label>

          <label>
            # Treadles
            <input type="number" id="treadles" min="2" max="20" />
          </label>
        </div>
        <div>
          <svg id="drawdown"></svg>

          Selected Color:
          <input
            id="selected-color"
            type="text"
            readonly="true"
            disabled="true"
            style="display:inline-block;width:auto;"
          />

          <svg id="palette">
            <defs>
              <pattern id="ivory" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2000.jpg"
                ></image>
              </pattern>
              <pattern id="silver" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2003.jpg"
                ></image>
              </pattern>
              <pattern id="ash_gray" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2004.jpg"
                ></image>
              </pattern>
              <pattern id="black" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2005.jpg"
                ></image>
              </pattern>
              <pattern id="sand" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2006.jpg"
                ></image>
              </pattern>
              <pattern id="daffodil" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2008.jpg"
                ></image>
              </pattern>
              <pattern id="goldenrod" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2009.jpg"
                ></image>
              </pattern>
              <pattern id="brass" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2010.jpg"
                ></image>
              </pattern>
              <pattern id="yellow_ochre" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2011.jpg"
                ></image>
              </pattern>
              <pattern id="dandelion" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2012.jpg"
                ></image>
              </pattern>
              <pattern id="marigold" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2013.jpg"
                ></image>
              </pattern>
              <pattern id="pumpkin" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2014.jpg"
                ></image>
              </pattern>
              <pattern id="tomato" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2015.jpg"
                ></image>
              </pattern>
              <pattern id="cocoa" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2016.jpg"
                ></image>
              </pattern>
              <pattern id="copper" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2017.jpg"
                ></image>
              </pattern>
              <pattern id="chestnut" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2018.jpg"
                ></image>
              </pattern>
              <pattern id="light_poppy" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2019.jpg"
                ></image>
              </pattern>
              <pattern id="light_cardinal" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2020.jpg"
                ></image>
              </pattern>
              <pattern id="light_watermelon" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2021.jpg"
                ></image>
              </pattern>
              <pattern id="watermelon" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2022.jpg"
                ></image>
              </pattern>
              <pattern id="boysenberry" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2023.jpg"
                ></image>
              </pattern>
              <pattern id="coral_pink" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2024.jpg"
                ></image>
              </pattern>
              <pattern id="dusty_plum" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2025.jpg"
                ></image>
              </pattern>
              <pattern id="grape" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2026.jpg"
                ></image>
              </pattern>
              <pattern id="pastel_blue" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2027.jpg"
                ></image>
              </pattern>
              <pattern id="sky_blue" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2028.jpg"
                ></image>
              </pattern>
              <pattern id="yale_blue" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2029.jpg"
                ></image>
              </pattern>
              <pattern id="sapphire" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2030.jpg"
                ></image>
              </pattern>
              <pattern id="navy" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2031.jpg"
                ></image>
              </pattern>
              <pattern id="sea_blue" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2032.jpg"
                ></image>
              </pattern>
              <pattern id="pine" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2033.jpg"
                ></image>
              </pattern>
              <pattern id="aquamarine" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2034.jpg"
                ></image>
              </pattern>
              <pattern id="aqua" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2035.jpg"
                ></image>
              </pattern>
              <pattern id="mint" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2036.jpg"
                ></image>
              </pattern>
              <pattern id="fern" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2038.jpg"
                ></image>
              </pattern>
              <pattern id="willow" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2039.jpg"
                ></image>
              </pattern>
              <pattern id="lime" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2040.jpg"
                ></image>
              </pattern>
              <pattern id="light_pear" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2041.jpg"
                ></image>
              </pattern>
              <pattern id="pear" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2042.jpg"
                ></image>
              </pattern>
              <pattern id="asparagus" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2043.jpg"
                ></image>
              </pattern>
              <pattern id="sable" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2044.jpg"
                ></image>
              </pattern>
              <pattern id="black_walnut" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2045.jpg"
                ></image>
              </pattern>
              <pattern id="cedar" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2046.jpg"
                ></image>
              </pattern>
              <pattern id="sienna" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2047.jpg"
                ></image>
              </pattern>
              <pattern id="khaki" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2048.jpg"
                ></image>
              </pattern>
              <pattern id="camel" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2049.jpg"
                ></image>
              </pattern>
              <pattern id="amber" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2050.jpg"
                ></image>
              </pattern>
              <pattern id="ladyslipper" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2051.jpg"
                ></image>
              </pattern>
              <pattern id="dusty_rose" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2052.jpg"
                ></image>
              </pattern>
              <pattern id="orchid" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2053.jpg"
                ></image>
              </pattern>
              <pattern id="trillium" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2054.jpg"
                ></image>
              </pattern>
              <pattern id="indigo" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2055.jpg"
                ></image>
              </pattern>
              <pattern id="egyptian_blue" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2056.jpg"
                ></image>
              </pattern>
              <pattern id="iceberg" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2057.jpg"
                ></image>
              </pattern>
              <pattern id="ultramarine" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2058.jpg"
                ></image>
              </pattern>
              <pattern id="teal" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2059.jpg"
                ></image>
              </pattern>
              <pattern id="persian_blue" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2060.jpg"
                ></image>
              </pattern>
              <pattern id="lichen" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2061.jpg"
                ></image>
              </pattern>
              <pattern id="apple_green" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2062.jpg"
                ></image>
              </pattern>
              <pattern id="emerald" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2063.jpg"
                ></image>
              </pattern>
              <pattern id="hunter_green" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2064.jpg"
                ></image>
              </pattern>
              <pattern id="loden" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2065.jpg"
                ></image>
              </pattern>
              <pattern id="lilac" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2067.jpg"
                ></image>
              </pattern>
              <pattern id="maize" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2068.jpg"
                ></image>
              </pattern>
              <pattern id="grass" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2069.jpg"
                ></image>
              </pattern>
              <pattern id="pastel_blue_gray" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2070.jpg"
                ></image>
              </pattern>
              <pattern id="gold" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2071.jpg"
                ></image>
              </pattern>
              <pattern id="cream" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2072.jpg"
                ></image>
              </pattern>
              <pattern id="almond" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2073.jpg"
                ></image>
              </pattern>
              <pattern id="cyan" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2074.jpg"
                ></image>
              </pattern>
              <pattern id="light_peach" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2075.jpg"
                ></image>
              </pattern>
              <pattern id="light_aqua" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2076.jpg"
                ></image>
              </pattern>
              <pattern id="cardinal" width="50" height="50">
                <image
                  xlink:href="https://store.vavstuga.com/mm5/graphics/00000001/th-yarn-bock-cot-lin-22-2-2080.jpg"
                ></image>
              </pattern>
            </defs>
          </svg>
        </div>
      </div>

      <div>
        <a id="download-wif" download="glitch-wiftch.wif" href=""
          ><button>
            Download WIF
          </button></a
        >
        <pre>
      <code id="wif-preview">
      </code>
      </pre>
      </div>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
